<template>
  <div>
    <h1>Create An User</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Name"
          v-model="user.name"
        />
        <!--  <div class="invalid-feedback">
                    Please choose a username.
                </div>       -->
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          v-model="user.email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          v-model="user.password"
        />
      </div>
      <button type="submit" class="btn btn-primary" @click.prevent="add">
        Add User
      </button>
    </form>
  </div>
</template>

<script>
const axios = require("axios");
import { RESOURCE_USER } from "../../api";

export default {
  data: function () {
    return {
      user: {
        name: "",
        email: "",
        password: "",
      },
    };
  },
  methods: {
    add: function () {
      this.$store
        .dispatch("addUser", this.user)
        .then((response) => {
          console.log(response);
          console.log(response.data);
          this.$router.push({ name: "user.index" });
        })
        .catch((error) => {
          console.log(error.response.data);
        });
    },
  },
};
</script>