<template>
  <div>
    <h1>Edit The User</h1>
    <p>id:{{ $route.params.id }}</p>

    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="name"
          v-model="user.name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="emai"
          v-model="user.email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          v-model="user.password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary" @click.prevent="save">
        Save User
      </button>
    </form>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { RESOURCE_USER } from "../../api";

export default {
  data: function () {
    return {
      user: {
        name: "",
        email: "",
        password: "",
      },
      id: "",
    };
  },
  methods: {
    save: function () {
      const params = {
        id: this.$route.params.id,
        user: this.user,
      };
      this.$store
        .dispatch("editUser", params)
        .then((response) => {
          this.user = response.data.data;
          this.$router.push({ name: "user.index" });
        })
        .catch((error) => {
          console.log(error.response.data.message);
        });
    },
  },

  beforeCreate: function () {
    this.id = this.$route.params.id;
    this.$store
      .dispatch("showedit", this.id)
      .then((response) => {
        console.log(response);
        this.user = response.data.data;
        console.log(response.data.message);
      })
      .catch((error) => {
        console.log(error.response);
        this.$router.push({ name: "page404" });
      });
  },
};
</script>