<template>
  <div>
    <h1>Users</h1>
    <div class="clearfix">
      <!--  <button>Add</button> -->
      <router-link
        class="btn btn-success float-left"
        :to="{ name: 'user.create' }"
        >Add User</router-link
      >
      <!-- <button class="btn btn-secondary float-right" @click="logout">Log out</button> -->
    </div>
    <br />
    <table class="table table-hover tab">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Email</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody v-for="user in users" :user="user" :key="user.id">
        <!-- <tbody> -->
        <tr>
          <td>
            {{ user.id }}
          </td>
          <td>
            {{ user.name }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            <button class="btn btn-primary" @click="edit(user.id)">Edit</button>
          </td>
          <td>
            <!--   <button class="btn btn-danger">Delete</button> -->
            <button class="btn btn-danger" @click.prevent="Delete(user.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <nav aria-label="Page navigation example" class="float-right">
        <ul class="pagination">
          <li class="page-item" v-if="curentpage > 1">
            <a class="page-link" href="#" @click.prevent="curentpage--"
              >Previous</a
            >
          </li>
          <li
            class="page-item"
            v-for="page in totalpage"
            :key="page"
            :class="{ active: curentpage == page }"
          >
            <a class="page-link" href="#" @click.prevent="curentpage = page">
              {{ page }}</a
            >
          </li>
          <!-- <li class="page-item" v-if="curentpage>3"><a class="page-link" href="#" @click.prevent="curentpage++">...</a></li> -->
          <li class="page-item" v-if="curentpage < totalpage">
            <a class="page-link" href="#" @click.prevent="curentpage++">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- <router-view></router-view> -->
  </div>
</template>
<script>
import { RESOURCE_USER } from "../../api";
import { mapState } from "vuex";

import { destroyToken } from "../../common/jwt.service";
const axios = require("axios");
export default {
  data() {
    return {
      users: [],
      curentpage: 1,
      totalpage: 0,
    };
  },
  mounted() {
    this.getlist();
  },
  watch: {
    curentpage: function () {
      this.getlist();
    },
  },
  methods: {
    getlist: function () {
      this.$store
        .dispatch("getlistUser", "?page=" + this.curentpage)
        .then((response) => {
          console.log(response);
          this.users = response.data.data.data;
          this.totalpage = response.data.data.last_page;
        })
        .catch((error) => {
          // console.log(error)
        });
    },
    edit(id) {
      this.$router.push({ name: "user.edit", params: { id: id } });
    },
    Delete: function (id) {
      if (confirm("ban co muon xoa khong??")) {
        axios
          .delete(`${RESOURCE_USER}/${id}`)
          .then((response) => {
            console.log(response.data.message);
            this.getlist();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    logout() {
      destroyToken();
      this.$router.push({ name: "login" });
    },
  },
};
</script>
<style>
</style>
