<template>
  <div>
    <div class="content">
      <!-- ======table list====== -->
      <div class="container-fluid">
        <h1>Products</h1>
        <div class="clearfix">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addModal"
          >
            Add
          </button>
          <!-- <button class="btn btn-secondary float-right" @click="logout">Log out</button> -->
        </div>
        <br />
        <table class="table table-hover tab">
          <thead>
            <tr>
              <td>ID</td>
              <td>Name</td>
              <td>catogory</td>
              <td>image</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody v-for="(product, i) in products" :product="product" :key="i">
            <tr>
              <td>
                {{ product.id }}
              </td>
              <td>
                {{ product.name }}
              </td>
              <td>
                {{ product.catogory }}
              </td>
              <td class="table_image">
                <img :src="'image/product/' + product.image" />
              </td>

              <td>
                <button
                  class="btn btn-primary"
                  @click="showedit(product.id)"
                  data-toggle="modal"
                  data-target="#editModal"
                >
                  Edit
                </button>
              </td>
              <td>
                <button
                  class="btn btn-danger"
                  @click.prevent="Delete(product.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <nav
            aria-label="Page navigation example"
            id="pagination"
            class="float-right"
          >
            <ul class="pagination">
              <li class="page-item" v-if="curentpage > 1">
                <a class="page-link" href="#" @click.prevent="curentpage--"
                  >Previous</a
                >
              </li>
              <li
                class="page-item"
                v-for="page in totalpage"
                :key="page"
                :class="{ active: curentpage == page }"
              >
                <a
                  class="page-link"
                  href="#"
                  @click.prevent="curentpage = page"
                >
                  {{ page }}</a
                >
              </li>
              <li class="page-item" v-if="curentpage < totalpage">
                <a class="page-link" href="#" @click.prevent="curentpage++"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- ============== add-----==================== -->
      <div class="modal" id="addModal" enctype="multipart/form-data">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Add</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group">
                <label for="name">name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="name"
                  v-model="name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="catogory">catogory</label>

                <select id="catogory" class="form-control" v-model="selected">
                  <option v-for="(item, i) in catogories" :key="i">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="">Image</label>
                <input
                  name="image"
                  type="file"
                  id="image"
                  class="form-control"
                  v-on:change="onFileChange"
                />
                <!--  <p v-if="image"><img :src="previewImage"  /></p> -->
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" @click="add">
                Add
              </button>
              <button
                type="submit"
                class="btn btn-danger close-modal"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- =====================edit=========================== -->
      <div class="modal" id="editModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="container">
              <div class="modal-header">
                <h4 class="modal-title">Modal Edit</h4>
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="form-group">
                  <label for="name">name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nameedit"
                    placeholder="name"
                    v-model="name"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="catogory">catogory</label>

                  <select id="catogory" class="form-control" v-model="selected">
                    <option v-for="(item, i) in catogories" :key="i">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Image</label>
                  <input
                    name="image"
                    type="file"
                    id="image"
                    class="form-control"
                    v-on:change="onFileChange"
                  />
                  <!-- <p v-if="image=''"> <img :src="'image/product/'+imageedit"  /></p> -->
                </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" @click="save">
                  Save
                </button>
                <button
                  type="submit"
                  class="btn btn-danger close-modaledit"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- ==================================================== -->
      </div>
    </div>
  </div>
</template>
<script>
import { RESOURCE_PRO } from "../../api";
import { mapState } from "vuex";
import { destroyToken } from "../../common/jwt.service";
const axios = require("axios");
export default {
  data() {
    return {
      products: [],
      curentpage: 1,
      totalpage: 0,
      imageedit: "",
      name: "",
      image: "",
      id: "",
      catogories: [],
      selected: "tra sua",
      previewImage: null,
      product: {},
    };
  },
  mounted() {
    this.getlist();
  },
  watch: {
    curentpage: function () {
      this.getlist();
    },
  },
  methods: {
    getlist: function () {
      this.$store
        .dispatch("getlistPro", "?page=" + this.curentpage)
        .then((response) => {
          console.log(response);
          console.log(response.data.product.last_page);
          this.products = response.data.product.data;
          this.catogories = response.data.catogory;
          this.totalpage = response.data.product.last_page;
        })
        .catch((error) => {});
    },
    onFileChange(e) {
      console.log(e.target.files[0]);
      this.image = e.target.files[0];
    },

    add: function () {
      let config = {
        header: {
          "Content-Type": "multipart/form-data",
        },
      };
      let data = new FormData();
      if (this.image != "") {
        data.append("image", this.image, this.image.name);
      }
      data.append("name", this.name);
      data.append("catogory", this.selected);
      this.$store
        .dispatch("addPro", data, config)
        .then((response) => {
          document.querySelector(".close-modal").click();
          this.getlist();
        })
        .catch((err) => {});
    },

    showedit(id) {
      this.$store
        .dispatch("showeditPro", id)
        .then((response) => {
          console.log(response.data.product);
          this.name = response.data.product.name;
          this.selected = response.data.product.catogory;
          this.imageedit = response.data.product.image;
          this.id = response.data.product.id;
        })
        .catch((error) => {
          console.log(error.response.error);
        });
    },
    save: function () {
     
      let config = {
        header: {
          "Content-Type": "multipart/form-data",
        },
      };
      let formData = new FormData();
      if (this.image != "") {
        formData.append("image", this.image, this.image.name);
      }
      formData.append("name", this.name);
      formData.append("catogory", this.selected);
      formData.append("_method", "put");
      const params = {
        id: this.id,
        product: formData,
      };
      //this.$store.dispatch('editPro',params,config)
      axios
        .post(`${RESOURCE_PRO}/` +this.id , formData, config)
        .then((response) => {
          document.querySelector(".close-modaledit").click();
          this.getlist();
        })
        .catch((err) => {});
    },

    Delete: function (id) {
      if (confirm("ban co muon xoa khong??")) {
        this.$store
          .dispatch("deletePro", id)
          .then((response) => {
            this.getlist();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    logout() {
      destroyToken();
      this.$router.push({ name: "login" });
    },
  },
};
</script>
<style>
img {
  width: 80px;
  height: 80px;
}
#pagination {
  position: absolute;
  left: 700px;
  top: 650px;
}
</style>
