<template>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Laravel</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li :class="['nav-item', { active: $route.name === 'users.index' }]">
            <router-link class="nav-link" :to="{ name: 'user.index' }"
              >Users</router-link
            >
          </li>

          <li
            :class="['nav-item', { active: $route.name === 'catogory.index' }]"
          >
            <router-link class="nav-link" :to="{ name: 'catogory.index' }"
              >catogory</router-link
            >
          </li>
          <li
            :class="['nav-item', { active: $route.name === 'product.index' }]"
          >
            <router-link class="nav-link" :to="{ name: 'product.index' }"
              >product</router-link
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          <button class="btn btn-outline-success my-2 my-sm-0" @click="logout">
            Log out
          </button>
        </form>
      </div>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
import { destroyToken } from "../common/jwt.service";
export default {
  methods: {
    logout() {
      destroyToken();
      this.$router.push({ name: "login" });
    },
  },
};
</script>
