<template>
  <div class="container">
    <form class="col-sm-6">
      <h2>LOGIN FORM</h2>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          v-model="email"
        />
        <small id="emailHelp" class="form-text text-muted">
          We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
          v-model="password"
        />
      </div>
      <div>
        <button type="submit" class="btn btn-primary" @click.prevent="login">
          Login
        </button>
        <button type="submit" class="btn btn-primary" @click.prevent="regis">
          Regis
        </button>
      </div>
    </form>
  </div>
</template>
<script >
import { getToken, saveToken } from "../common/jwt.service";
const axios = require("axios");
export default {
  data() {
    return {
      email: "",
      password: "",
    };
  },

  methods: {
    login() {
      this.$store
        .dispatch("login", { email: this.email, password: this.password })
        .then((response) => {
          console.log(response.data.message);
          saveToken(response.data.user.token);

          this.$router.push("/catogory");
        })
        .catch((error) => {
          console.log(error.response.data.message);
          alert("tai khoan hoac mat khau khong chinh xac");
        });
    },
    regis() {
      this.$router.push({ name: "regis" });
    },
  },
};
</script>