<template>
  <div>
    <h1>REGIS</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Name"
          v-model="user.name"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          v-model="user.email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          v-model="user.password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary" @click.prevent="regis">
        regis
      </button>
    </form>
  </div>
</template>

<script>
const axios = require("axios");
import { RESOURCE_USER } from "../api";

export default {
  data: function () {
    return {
      user: {
        name: "",
        email: "",
        password: "",
      },
    };
  },
  methods: {
    regis: function () {
      this.$store
        .dispatch("Regis", this.user)
        .then((response) => {
          console.log(response);
          alert("dang ky thanh cong");
          this.$router.push({ name: "login" });
        })
        .catch((error) => {
          console.log(error.response.error);
          if (error.response.status == 500) {
            alert("email da ton tai");
          }
        });
    },
  },
};
</script>