<template>
    <div>
      <div class="content">
        <!-- ======table list====== -->
      <div class="container-fluid">

        <h1>Catogories</h1>
        <div class="clearfix" >
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" @click="showadd">
              Add
            </button>
             <!-- <button class="btn btn-secondary float-right" @click="logout">Log out</button> -->
        </div><br />
        <table class='table table-hover tab' >
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>description</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody v-for="(catogory,i) in catogories" :catogory="catogory" :key="i">
              <tr>
                  <td>
                      {{ catogory.id }}
                  </td>
                  <td>
                      {{ catogory.name }}
                  </td>
                  <td>
                      {{ catogory.description }}
                  </td>

                  <td>
                    <button class="btn btn-primary" @click="showedit(catogory.id)" data-toggle="modal" data-target="#editModal">Edit</button>
                  </td>
                  <td>
                        <button class="btn btn-danger" @click.prevent="Delete(catogory.id)">Delete</button>
                  </td>
                </tr>
            </tbody>
        </table>
         <div >
          <nav aria-label="Page navigation example" class=" float-right">
            <ul class="pagination">
              <li class="page-item" v-if="curentpage>1"><a class="page-link" href="#" @click.prevent="curentpage--">Previous</a></li>
              <li class="page-item"  v-for="page in totalpage" :key="page" :class="{active:curentpage==page}" ><a class="page-link" href="#"  
                @click.prevent="curentpage=page">
              {{page}}</a></li>
              <li class="page-item" v-if="curentpage<totalpage"><a class="page-link" href="#" @click.prevent="curentpage++">Next</a></li>
            </ul>
        </nav>
        </div>
    </div>
        <!-- ============== add-----==================== -->
       <div  class="modal" id="addModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Modal Add</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                   <div class="form-group">
                    <label for="name">name</label>
                    <input type="text" class="form-control" id="name" placeholder="name"
                           v-model="name" required />
                </div>
                    <div class="form-group">
                        <label for="description">description</label>
                        <input type="text" class="form-control" id="description" placeholder="description"
                               v-model="description" required />
                  </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary"  @click="add" >Add</button>
                <button type="submit" class="btn btn-danger close-modal" data-dismiss="modal">Close</button>
              </div>
            </div>
            </div>
          </div>
      <!-- =====================edit=========================== -->
          <div  class="modal" id="editModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="container">
              <div class="modal-header">
                <h4 class="modal-title">Modal Edit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                   <div class="form-group">
                    <label for="editname">editname</label>
                    <input type="text" class="form-control" id="editname" placeholder=""
                           v-model="name" required />
                </div>
                    <div class="form-group">
                        <label for="editdescription">editdescription</label>
                        <input type="text" class="form-control" id="editdescription" placeholder=""
                               v-model="description" required />
                  </div>
              </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary"  @click="save" >Save</button>
                <button type="submit" class="btn btn-danger close-modaledit" data-dismiss="modal">Close</button>
              </div>
            </div>
            </div>
          </div>

      <!-- ==================================================== -->
       </div>
      </div>
    </div>
</template>
<script>
import { RESOURCE_CATO } from "../../api";
import { mapState } from "vuex";

import { destroyToken } from "../../common/jwt.service";

export default {
  data() {
    return {
      catogories: [],
      curentpage: 1,
      totalpage: 0,
      name: "",
      description: "",
      id: "",
    };
  },
  mounted() {
    this.getlist();
  },
  watch: {
    curentpage: function () {
      this.getlist();
    },
  },
  methods: {
    getlist: function () {
      this.$store
        .dispatch("getlistCat", "?page=" + this.curentpage)
        .then((response) => {
          console.log(response);

          this.catogories = response.data.data.data;
          this.totalpage = response.data.data.last_page;
        })
        .catch((error) => {});
    },
    showadd: function () {
      this.name = "";
      this.description = "";
    },
    add: function () {
      const params = {
        catogory: { name: this.name, description: this.description },
      };
      this.$store
        .dispatch("addCat", params)
        .then((response) => {
          document.querySelector(".close-modal").click();
          this.getlist();
        })
        .catch((err) => {});
    },

    showedit(id) {
      this.$store
        .dispatch("showeditCat", id)
        .then((response) => {
          this.name = response.data.data.name;
          this.description = response.data.data.description;
          this.id = response.data.data.id;
          console.log(response.data.message);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    save: function () {
      const params = {
        id: this.id,
        catogory: { name: this.name, description: this.description },
      };
      this.$store
        .dispatch("editCat", params)
        .then((response) => {
          console.log(response.data.message);

          document.querySelector(".close-modaledit").click();
          this.getlist();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    Delete: function (id) {
      if (confirm("ban co muon xoa khong??")) {
        this.$store
          .dispatch("deleteCat", id)
          .then((response) => {
            this.getlist();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    logout() {
      destroyToken();
      this.$router.push({ name: "login" });
    },
  },
};
</script>
<style>
</style>
