<template>
  <div>
    <div class="modal" id="addModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modal Add</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="name">name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="name"
                v-model="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="description">description</label>
              <input
                type="text"
                class="form-control"
                id="description"
                placeholder="description"
                v-model="description"
                required
              />
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" @click="add">
              Add
            </button>
            <button
              type="submit"
              class="btn btn-danger close-modal"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState } from 'vuex'
    export default {
       data() {
    return {
      catogories: [],
      curentpage: 1,
      totalpage: 0,
      name:'',
      id:'',
      description:''
    };
  },
  
  methods:{
    getlist: function () {
      this.$store
        .dispatch("getlistCat", "?page=" + this.curentpage)
        .then((response) => {
          console.log(response);

          this.catogories = response.data.data.data;
          this.totalpage = response.data.data.last_page;
        })
        .catch((error) => {});
    },
    add: function () {
      const params = {
        catogory: { name: this.name, description: this.description },
      };
      this.$store
        .dispatch("addCat", params)
        .then((response) => {
          document.querySelector(".close-modal").click();
          this.$tore.catogory.state.isClose=true;
          this.getlist();
        })
        .catch((err) => {});
    }
  }
}
</script>

<style lang="scss" scoped>
</style>