<template>
  <div>
    <div class="modal" id="editModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="container">
            <div class="modal-header">
              <h4 class="modal-title">Modal Edit</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group">
                <label for="editname">editname</label>
                <input
                  type="text"
                  class="form-control"
                  id="editname"
                  placeholder=""
                  v-model="name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="editdescription">editdescription</label>
                <input
                  type="text"
                  class="form-control"
                  id="editdescription"
                  placeholder=""
                  v-model="description"
                  required
                />
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" @click="save">
              Save
            </button>
            <button
              type="submit"
              class="btn btn-danger close-modaledit"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState } from 'vuex'
    export default {
    	 data() {
        return {
          catogories: [],
          curentpage: 1,
          totalpage: 0,
          name:'',
          id:'',
          description:this.$store.state.catogory.description
        };
  },

 
  methods:{
   
    save: function () {
      alert(this.$store.state.catogory.description)
      const params = {
        id: this.$store.state.catogory.id,
        catogory: { name: this.name, description: this.description },
      };
      this.$store
        .dispatch("editCat", params)
        .then((response) => {
          console.log(response.data.message);
          document.querySelector(".close-modaledit").click();
          this.$store.state.catogory.isClose=true;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    mounted() {
      alert("ss")
      let catogory = this.$store.getters.catogory.catogory;
      this.name =catogory.name;
      this.description = catogory.description;
      this.id = catogory.id;
               
    }
  }

}
</script>

<style lang="scss" scoped>
</style>