<template>
    <div>
      <div class="content">
        <!-- ======table list====== -->
      <div class="container-fluid">

        <h1>Catogories</h1>
        <div class="clearfix" >
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" >
              Add
            </button>
             <!-- <button class="btn btn-secondary float-right" @click="logout">Log out</button> -->
        </div><br />
        <table class='table table-hover tab' >
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>description</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody v-for="(catogory,i) in catogories" :catogory="catogory" :key="i">
              <tr>
                  <td>
                      {{ catogory.id }}
                  </td>
                  <td>
                      {{ catogory.name }}
                  </td>
                  <td>
                      {{ catogory.description }}
                  </td>

                  <td>
                    <button class="btn btn-primary" @click="showedit(catogory.id)" data-toggle="modal" data-target="#editModal">Edit</button>
                  </td>
                  <td>
                        <button class="btn btn-danger" @click.prevent="Delete(catogory.id)">Delete</button>
                  </td>
                </tr>
            </tbody>
        </table>
         <div >
          <nav aria-label="Page navigation example" class=" float-right">
            <ul class="pagination">
              <li class="page-item" v-if="curentpage>1"><a class="page-link" href="#" @click.prevent="curentpage--">Previous</a></li>
              <li class="page-item"  v-for="page in totalpage" :key="page" :class="{active:curentpage==page}" ><a class="page-link" href="#"  
                @click.prevent="curentpage=page">
              {{page}}</a></li>
              <li class="page-item" v-if="curentpage<totalpage"><a class="page-link" href="#" @click.prevent="curentpage++">Next</a></li>
            </ul>
        </nav>
        </div>
    </div>

      <AddModal></AddModal>
      <EditModal></EditModal>

       </div>
      </div>
    </div>
</template>
<script>
import {RESOURCE_CATO} from '../../api'
import { mapState } from 'vuex'
import AddModal from './Add.vue'
import EditModal from './Edit.vue'
import {destroyToken} from '../../common/jwt.service'

export default {

  data() {
    return {
      catogories: [],
      curentpage: 1,
      totalpage: 0
    };
  },
  components: {
    AddModal,
    EditModal
  },
/*  computed: {
    mapState(["id","name","description"])
  },*/
  mounted() {
    this.getlist();
  },
  watch: {
    curentpage: function () {
      this.getlist();
    }
  },
  
  methods: {
    getlist: function () {
      this.$store
        .dispatch("getlistCat", "?page=" + this.curentpage)
        .then((response) => {
          console.log(response);

          this.catogories = response.data.data.data;
          this.totalpage = response.data.data.last_page;
        })
        .catch((error) => {});
    },

    showedit(id) {
     this.$store
        .dispatch("showeditCat",id)
        .then((response) => {
          this.$store.state.catogory.name = response.data.data.name;
          this.$store.state.catogory.description = response.data.data.description;
          this.$store.state.catogory.id = response.data.data.id;
          console.log(response.data.message);
        })
        .catch((error) => {
          console.log(error);
        });
      
    },

    Delete: function (id) {
      if (confirm("ban co muon xoa khong??")) {
        this.$store
          .dispatch("deleteCat", id)
          .then((response) => {
            this.getlist();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },

    logout() {
      destroyToken();
      this.$router.push({ name: "login" });
    }
  }
};
</script>
<style>
</style>
